.news__inner {
    margin-bottom: 50px;
}

.news__head-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.news__head-title {
    padding: 10px;
    color: $text-title-color;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: .46px;
    width: 100%;
}

.news__button {
    padding: 12px 18px;
    width: 100%;
    max-width: 145px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid $hover-btn ;
    border-radius: 8px;
    background: #fff;
    color: $hover-btn;
    text-align: center;
    letter-spacing: .16px;
    transition: $transition;

    font: {
        weight: 500;
        size: 16px
    }

    &:hover {
        background: $hover-btn-light;
    }
}

.news__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.news__item {
    display: flex;
    width: 100%;
    max-width: 453px;
    padding: 40px !important;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
    border-radius: 20px;
    transition: $transition;
    border: 1px solid $hover-btn-light;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px #F7F6FB;

    &:hover {
        transform: scale(1.1);
        box-shadow: 1px 1px 27px 7px $hover-btn-light !important;

        .news__card-title {
            color: $hover-btn;
        }
    }
}

.news__card-title {
    color: $text-title-color;
    font-size: 23px;
    font-weight: 700;
    line-height: 32px;
}

.news__card-date {
    color: var(--Blue, #2E90D1);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: .32px;
}

.news__card-subtitle {
    color: var(--Text, #585858);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: .32px;
}

.news__card-moreblock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.news__card-moreblock-word {
    display: flex;
    padding: 5px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: $hover-btn-light;
}

.news__card-moreblock-detailed {
    display: flex;
    gap: 10px;
    color: $hover-link;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: .16px;
}